.box1 {
  width: 40rem;
  height: calc(100vh - 8rem);
  background: #fff;
  border: 0.5rem solid transparent;
  margin: 2.5rem auto;
  padding: 1.125rem 1.25rem;
  box-sizing: content-box;
  border-radius: 1.5rem;
  box-shadow: 0.7rem 0.5rem 1rem 0.1rem rgba(0, 0, 0, 55%);
  overflow: auto;
}

.flexheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.menu {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex-wrap: wrap;
}
a {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-inline-end: 0.4rem solid black;
  text-decoration-line: none;
}
a:link,
a:visited {
  color: black;
}
a:hover {
  color: #fff;
}
.box2 {
  box-sizing: content-box;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
a.video {
  padding: 0.5rem 0.5rem;
  border: 0.2rem solid transparent;
  text-decoration-line: none;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.box3 {
  height: fit-content;
  margin: 0.5rem 0.2rem;
  color: black;
  font-size: 1.1rem;
  text-align: justify;
  box-sizing: content-box;
}
